@import 'styles/_general_styling.scss';

.titleContainer {
  margin: 0 0 20px 18px;
}

.container {
  padding: 23px 30px;
  background: $background;
  height: 100%;
  z-index: 1;
  border-radius: 40px 0px 0px 0px;
}

.tablero {
  position: absolute;
  z-index: 0;
  width: 120px;
  height: 124px;
  left: .5rem;
  top: 4.5rem;
}
