@import 'styles/_general_styling.scss';

.container {
  width: 100%;
  background: $background;
  border-radius: 42px 42px 0px 0px;
  height: 100%;
}

.titleContainer {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.iconBack {
  position: absolute;
  left: 38px;
  bottom: 11px;
}
