@import "styles/_general_styling.scss";

.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:flex-start;
  padding: 17px 24px;

  div {
    width: 100%;
  }

  span {
    font-weight: bold;
  }

  .containerStats {
    display: flex;
    flex-direction: column;
  }

  .containerStats > span {
    color: #7D87F2;
    font-size: 16px;
    font-weight: 600;
  }

  .divider {
    width: 1px;
    background: rgba(125, 135, 242, 0.4);
    height: 50px;
    margin: 0 20px;
  }

  .dividerName {
    font-size: 10px;
    color: $white;
    margin: 0 10px;
  }

  .gameDate {
    color: #C4C4C4;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
  }

  .containerTantos {
    .tantos {
      font-weight: bold;
      font-size: 45px;
    }

    .ganado {
      color: #A0E887;
    }

    .perdido {
      color: #FF8888;
    }

    .dividerTantos {
      margin: 0 10px;
      color: #FFF7D6;
      font-weight: bold;
      font-size: 22px;
      position: relative;
      top: -10px;
    }
  }
}

.clubName {
  font-size: 14px;
  color: #FFF7D6;
}

