@import 'styles/_general_styling.scss';

.labelInput {
  margin-left: 12px;
  font-style: italic;
  font-weight: 300;
  font-family: Roboto;
  color: $primary;
  font-size: 16px;
  text-transform: capitalize;
}

.inputForm {
  border: 1px solid $grey-200 !important;
  box-sizing: border-box !important;
  border-radius: 23px !important;
}
