@import 'styles/_general_styling.scss';

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.confirm {
background: $confirm !important;
  color: #FFFFFF !important;
}

.shadow1-confirm {
 background: $confirm-100;
}

.shadow2-confirm {
  background: $confirm-200;
}

.button {
  border-radius: 10px !important;
  height: 39px !important;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  border: 0 !important;

  span {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.shadow1 {
  border-radius: 10px;
  position: absolute;
  top: 0;
  width: 96%;
  height: 45px;
}

.shadow2 {
  position: absolute;
  top: 0;
  border-radius: 10px;
  width: 92%;
  height: 50px;
}
