@import 'styles/_general_styling.scss';

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 10px;
}

.points {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -0.3rem;
  margin: 0;
}

.title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  bottom: 10px;
}

.win {
  color: #A0E887;
}

.loss {
  color: #FF8888;
}
