$background: #7AB6B5;

$primary: #0039A5;
$confirm: #A0E887;
$alert: #FFCF68;
$warning: #FF8888;

$confirm-100: rgba(151, 222, 138, 0.65);
$confirm-200: rgba(130, 200, 141, 0.6);
$confirm-hover: #79CA5D;

$white: #FFFFFF;

$grey-200: #6D6D6D;
