$background: #1e2b65;

$primary: #0039a5;
$confirm: #00b38b;
$alert: #ffcf68;
$warning: #ff8888;

$confirm-100: rgba(0, 179, 139, 0.65);
$confirm-200: rgba(0, 179, 139, 0.6);
$confirm-hover: #108b77;

$white: #ffffff;

$grey-200: #6d6d6d;
