html,
body {
  font-family: Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.imageBackground {
  position: absolute !important;
  display: block;
  top: 0;
}

.container {
  position:relative;
  background: #7AB6B5;
  height: 80vh;
  border-radius: 0px 0px 42px 0px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title {
  color: #FFFFFF;
  border-left: 5px solid #FFFFFF;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 31px;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
